body{
    background: rgb(29, 118, 148);
    font: normal 15pt Times;

}
header{
    color: rgb(0, 0, 0);
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;

}
footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}
